body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  text-align: center;
  padding: 40px;
  margin: 0;
}

.header {
  margin-bottom: 5px;
}

.dice-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

.die-cube{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.die {
  width: 60px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
}

.button {
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #334;
}
